body {
    padding-top: 5rem;
    
}

.card{
    width: 25rem;
    /*height: 18rem;*/
    box-shadow: 0.5px 0.5px 10px grey;
    border-radius: 2px;
    padding: 24px
}

.card-header{
    width: 25rem;
    border: none;
    background: transparent;
    padding-left:0;
}

.everything{
    position: centre;
}

.btn{
    position: centre;
}

